.navbar {
  background-color: #111;
  text-align: center;
  padding: 12px 0;
}

.navbar a {
  color: white;
  text-decoration: none;
  margin: 0 15px;
  font-weight: bold;
}

.navbar a:hover {
  color: #1e90ff;
}